body{
    background-color: grey;
    text-align: center;
    font-size: 200%;
    font-family: monospace;
}

#box{
    background-color: maroon;
    border-style: solid;
    width: 40%;
    position: absolute;
    margin: auto;
    top: 25%;
    left: 30%;
}


